
  name: docker build and push
  on:
    push:
      branches:
        - 'master'

  jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        -
          name: Checkout 
          uses: actions/checkout@v2
        - 
          name: Set up QEMU
          uses: docker/setup-qemu-action@v1
        -
          name: Login to Jfrog artifactory
          uses: docker/login-action@v1
          with:
            registry: brothersctus.jfrog.io/k8s # ${{ secrets.JFROG_URL }}
            username: ${{ secrets.JFROG_USERNAME }}
            password: ${{ secrets.JFROG_PASSWORD }}
#         -
#           name: Set up Docker Buildx
#           uses: docker/setup-buildx-action@v1
        -
          name: Build and push
          uses: docker/build-push-action@v2
          with:
            context: .
            file: ./Dockerfile
            push: true
            tags: brothersctus.jfrog.io/k8s/jfrog:{{ github.sha }} # ${{ secrets.JFROG_URL }}/$IMG_NAME:${{ secrets.MAJOR }}-${{ github.sha }}
